<div class="row justify-content-center"> 
  <h3 class="texte-bienvenue mt-5">Créer un nouvel event bright</h3>
</div>

<br>
  
<%= render 'partials/formevent' %> 

<div class="row justify-content-center"> 
  <%= link_to "Retour", :back %>
</div>
