<br>

<div class="row justify-content-center">
 <h3>Mon event bright<h3>
</div>

<br>


<%= render 'partials/eventsshow' %> 


<div class="row justify-content-center">   
  <% if current_user %>
 <%= link_to "Participer", new_attendance_path(id: @events.id), class:"btn btn-outline-primary" %> 
  <% else %>
   <%= link_to "Participer", new_user_session_path(id: @events.id), class:"btn btn-outline-primary" %> 
<% end %>
</div>

  

