<!DOCTYPE html>
<html>
  <head>
    <title>EventBrightNow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="app/stylesheets/bootstrap.css" crossorigin="anonymous">
  </head>
  </html>